.chatbot {
    &-frame {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 20px;
        right: 20px;
        height: 360px;
        width: 350px;
        z-index: 10;
    }

    &-box {
        position: relative;

        &__header {
            display: flex;
            justify-content: center;
            height: 100px;
            width: 100%;
            background-color: #44474a;
            color: white;
            border-radius: 10px;

            .title {
                transform: translateY(9px);
                font-weight: bold;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
            height: 320px;
            width: 100%;
            position: absolute;
            top: 40px;
            background-color: #fafbfb;
            border-radius: 10px;
        }
    }
}

.message-container {
    height: 245px;
    padding: 0 20px;
    overflow-y: scroll;
    scroll-behavior: smooth;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 75px;
    width: 100%;

    input {
        width: 100%;
        height: 35px;
        margin: 0 20px;
        font-size: 16px;
        padding-left: 12px;
        border-radius: 5px;
        border: 1px solid #aeb4b9;
    }
}
